###################################
# Physical constraints file (pcf) #
# for iCE40HX8K-CT256             #
###################################


### Clock
set_io --warn-no-port clk J3

### LEDs
set_io --warn-no-port LED[0] B5
set_io --warn-no-port LED[1] B4
set_io --warn-no-port LED[2] A2
set_io --warn-no-port LED[3] A1
set_io --warn-no-port LED[4] C5
set_io --warn-no-port LED[5] C4
set_io --warn-no-port LED[6] B3
set_io --warn-no-port LED[7] C3


### UART (FTDI Channel B)
set_io --warn-no-port RS232_RX_i B10
set_io --warn-no-port tx B12
set_io --warn-no-port RTSn       B13
set_io --warn-no-port CTSn       A15
set_io --warn-no-port dtr       A16
set_io --warn-no-port DSRn       B14
set_io --warn-no-port DCDn       B15

#				 J3
#			       --------
#			 1---| R16 VCC |---2	VCCIO2
#       	 3---| T15 T16 |---4
#			 5---| T13 T14 |---6
#			 7---| GND GND |---8
#			 9---| N12 P13 |---10
#			     --------
#			11---| N10 M11 |---12
#			13---| T11 P10 |---14
#			15---| GND GND |---16
#			17---| T10 R10 |---18
#			19---| P8  P9  |---20
#			      --------
#			21---| T9  R9  |---22
#			23---| GND GND |---24
#			25---| T7  T8  |---26
#			27---| T6  R6  |---28
#			29---| T5  R5  |---30
#			      --------
#			31---| GND GND |---32
#			33---| R3  R4  |---34
#			35---| R2  T3  |---36
#			37---| T1  T2  |---38
#			39---| GND GND |---40
#			      ---------


set_io --warn-no-port PMOD2-1 R16
set_io --warn-no-port PMOD2-3 T15
set_io --warn-no-port PMOD2-4 T16
set_io --warn-no-port PMOD2-5 T13
set_io --warn-no-port PMOD2-6 T14
set_io --warn-no-port PMOD2-9 N12
set_io --warn-no-port PMOD2-10 P13
set_io --warn-no-port PMOD2-11 N10
set_io --warn-no-port PMOD2-12 M11
set_io --warn-no-port PMOD2-13 T11
set_io --warn-no-port PMOD2-14 P10
set_io --warn-no-port PMOD2-17 T10
set_io --warn-no-port PMOD2-18 R10
set_io --warn-no-port PMOD2-19 P8
set_io --warn-no-port PMOD2-20 P9
set_io --warn-no-port PMOD2-21 T9
set_io --warn-no-port PMOD2-22 R9
set_io --warn-no-port PMOD2-25 T7
set_io --warn-no-port PMOD2-26 T8
set_io --warn-no-port PMOD2-27 T6
set_io --warn-no-port PMOD2-28 R6
set_io --warn-no-port PMOD2-29 T5
set_io --warn-no-port PMOD2-30 R5
set_io --warn-no-port PMOD2-33 R3
set_io --warn-no-port PMOD2-34 R4
set_io --warn-no-port PMOD2-35 R2
set_io --warn-no-port PMOD2-36 T3
set_io --warn-no-port PMOD2-37 T1
set_io --warn-no-port PMOD2-38 T2
